@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
  font-family: "Korataki"; 
  // адрес шрифта и тип 
  src: url("../fonts/korataki.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 