* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

@font-face {
  font-family: "Korataki";
  src: url("../fonts/korataki.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.center {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}

.mini__header {
  display: flex;
  justify-content: end;
  gap: 70px;
  background-color: #231815;
  padding-top: 12px;
  padding-bottom: 12px;
}

.mini__header_link {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logo-black {
  padding-right: 245px;
}

.header__navigation {
  display: flex;
  gap: 100px;
  padding-right: 132px;
  font-family: "Lato";
}

.header__navigation_link {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #231815;
  text-decoration: none;
}

.search {
  display: flex;
  gap: 20px;
}

.inputSearch {
  font-family: "Lato";
  width: 170px;
  height: 39px;
  top: 21px;
  left: 1332px;
  padding: 8.86px 13.73px 8.86px 21px;
  gap: 8.86px;
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #F5F5F5;
  cursor: pointer;
}

.search__conteiner {
  position: relative;
}

.search__img {
  position: absolute;
  left: 140px;
  top: 10px;
}

.basket {
  font-family: "Lato";
  color: white;
  width: 138px;
  height: 39px;
  top: 21px;
  left: 1522px;
  gap: 5px;
  border-radius: 100px;
  opacity: 0px;
  background-color: black;
  cursor: pointer;
}

.basket__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Korataki";
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 44px;
  font-weight: 400;
  line-height: 61.6px;
  text-align: left;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  row-gap: 50px;
  margin-bottom: 60px;
}

.main__card {
  position: relative;
  width: 320px;
}

.main__card_btnSale {
  font-family: "Lato";
  background-color: black;
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 126px;
  height: 38px;
  border-radius: 100px;
  opacity: 0px;
}

.main__card_btnInfo {
  font-family: "Lato";
  position: absolute;
  width: 258px;
  height: 48px;
  top: 409px;
  left: 31px;
  padding: 0px 48px 0px 48px;
  gap: 8px;
  border-radius: 100px;
  opacity: 0px;
  color: white;
  background-color: #E45302;
  cursor: pointer;
}

.main__card_price {
  padding-top: 20px;
  padding-bottom: 12px;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
}

.main__card_newPrice {
  font-family: "Lato";
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: left;
  color: #E45302;
  padding-right: 16px;
}

.main__card_oldPrice {
  font-family: "Lato";
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: left;
  color: #808080;
  text-decoration: line-through;
}

.main__card_oldPrice-black {
  color: #231815;
  text-decoration: none;
}

.footer {
  display: flex;
  height: 320px;
  background: #0C0C0C;
  padding-top: 60px;
}

.footer__security {
  width: 260px;
  margin-right: 194px;
}

.footer__security_text-info {
  text-decoration: underline;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  color: #808080;
}

.footer__security_text {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  padding-top: 53px;
  color: #808080;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__contacts_textColor {
  color: white;
  text-decoration: none;
}

.footer__contacts_text {
  padding-bottom: 38px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 149px;
  margin-right: 192px;
}

.footer__navigation_text {
  text-decoration: none;
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.footer__documents_text {
  display: flex;
  flex-direction: row-reverse;
  color: #808080;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  padding-bottom: 20px;
}

.footer__documents_cards {
  padding-top: 72px;
  display: flex;
  gap: 33px;
}/*# sourceMappingURL=style.css.map */