@import "./reset.scss" ;
@import "./font.scss" ;
//desktop 1900px
.center {
    padding-left: calc(50% - 700px);  
    padding-right: calc(50% - 700px);     
}
.mini__header { 
    display: flex;
    justify-content: end;
    gap: 70px;
    background-color: #231815;
    padding-top: 12px;
    padding-bottom: 12px; 
}
.menu_navigation {
    display: none;
}
.mini__header_link {
    font-family: "Lato";
    font-size: 16px;
    text-decoration: none;
    line-height: 16px;
    color: #FFFFFF;
}


.header {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    
}
.logo-black {
//    padding-left: 261px;
    padding-right: 245px;
}
.header__navigation {
    display: flex;
    gap: 100px;
    padding-right: 132px;
    font-family: "Lato";
}
.header__navigation_link {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #231815;
    text-decoration: none;

}
.search {
    display: flex;
    gap: 20px;
}
.inputSearch {
     font-family: "Lato";
    width: 170px;
    height: 39px;
    top: 21px;
    left: 1332px;
    padding: 8.86px 13.73px 8.86px 21px;
    gap: 8.86px;
    border-radius: 20px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #F5F5F5;
    cursor: pointer;
}
.search__conteiner{
    position: relative;
}
// .search_glasesBlack {
//     display: none;
// }
.search__img {
    position:absolute;
    left: 140px;
    top: 10px;
}
.search_glasesBlack {
    display: none;
}
.basket {
    font-family: "Lato";
    color:white;
    width:  138px;
    height: 39px;
    top: 21px;
    left: 1522px;
    gap: 5px;
    border-radius: 100px;
    opacity: 0px;
    background-color: black;
    cursor: pointer;
}
.basket__img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: "Korataki";
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 44px;
    font-weight: 400;
    line-height: 61.6px;
    text-align: left;

}
.main {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 50px;
    margin-bottom: 60px;
}
.main__card {
    position: relative;
    width: 320px;
}
.main__card_btnSale {
    font-family: "Lato";
    background-color: black;
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 126px;
    height:  38px;
    border-radius: 100px;
    opacity: 0px;
}
.main__card_btnInfo {
    font-family: "Lato";
    position: absolute;
    width:  258px;
    height: 48px;
    top: 409px;
    left: 31px;
    padding: 0px 48px 0px 48px;
    gap: 8px;
    border-radius: 100px;
    opacity: 0px;
    color: white;
    background-color: #E45302;
    cursor: pointer;
}
.main__card_price {
    padding-top: 20px;
    padding-bottom: 12px;
    font-family:"Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
}
.main__card_newPrice {
    font-family: "Lato";
    font-size: 22px;
    font-weight: 700;
    line-height: 30.8px;
    text-align: left;
    color:#E45302;
    padding-right: 16px;
}
.main__card_oldPrice {
    font-family: "Lato";
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
    color: #808080;
    text-decoration: line-through;

}
.main__card_oldPrice-black {
    color: #231815;
    text-decoration: none;

}
.footer {
    display: flex;
    justify-content: space-between;
     background: #0C0C0C;
     padding-top: 60px;
     padding-bottom: 65px;

     &__about {
        display: flex;
        flex-direction: column;
        gap: 20px;
     }
}
.footer__wrapper {
    display: flex;
    gap: 150px;
}
.footer__security {
    max-width: 260px;
    // margin-right: 194px;
}
.footer__security_text-info {
    text-decoration: underline;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    color: #808080;

    
}
.footer__security_text {
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    padding-top: 53px;
    color: #808080;

}
.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__contacts_textColor {
    color: white;
    text-decoration: none;
}
.footer__contacts_text {
    padding-bottom: 38px;
}
.footer__navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // margin-left: 149px;
    // margin-right: 192px;
}
.footer__navigation_text {
    text-decoration: none;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.footer__documents_text {
    display: flex;
    flex-direction: row-reverse;
    color: #808080;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    padding-bottom: 20px;
}
.footer__documents_cards {
    padding-top: 72px;
    display: flex;
    gap: 33px;
}
//desktop 1600px
@media(max-width: 1600px) {
    .center {
    padding-left: calc(50% - 620px);  
    padding-right: calc(50% - 620px);     
    }

    .inputSearch {
        display: none;
    }
    .search__img {
        display: none;
    }
    .search_glasesBlack {
        display: inline;
        cursor: pointer;
    }
    .logo-black {
    padding-right: 163px;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        row-gap: 30px;
        margin-bottom: 60px;
    }
    .main__card {
        width: 287px;
        height: 516px;
    }
    .main__card_size {
        width: 287px;
        position: relative;
    }

    .main__card_btnSale {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .main__card_btnInfo {
        top: 360px;
    }
    .footer__security {
    width: 260px;
    margin-right: 70px;
}
.footer__navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // margin-left: 200px;
    // margin-right: 134px;
}
}
//desktop 770px
@media(max-width: 771px){
    .center {
    padding-left: calc(50% - 341px);  
    padding-right: calc(50% - 341px);     
    }
    .title {
        font-family: "Korataki";
        font-size: 32px;
        font-weight: 400;
        line-height: 44.8px;
        text-align: left;

    }
    .main__card_size {
        width: 320px;
        height: 477px;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        row-gap: 50px;
        margin-bottom: 60px;
    }
    .mini__header {
        display: none;
    }
    .header__navigation {
        display: none;
    }
    .menu_navigation {
    display: inline;
}
    .search {
        display: none;
    }
    .main__card_btnInfo {
        top: 380px;
    }
    .main__card_btnSale {
        top: 35px;
    }
    .main__card_size {
        width: 287px;
    }
    .logo-black {
        padding-right: 400px;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 50px 40px;

        &__security_text {
            display: none;
        }
        &__wrapper {
            gap: 0;
            // justify-content: space-between;
        }
        &__contacts {
            flex-direction: row;
            gap: 40px;
        }
        &__security {
            padding-bottom: 33px;
        }
        &__documents {

            &_text {
                display: block;
                position: relative;
                top: -65px;
            }
        }
        &__mobile {
            .footer__security_text {
               display: block;
                max-width: 382px;
                margin-left: 83px;
            }
        }
        &__about {
            padding-right: 40px;
            padding-left: 20px;
        }
        &__documents_cardsMobile {
            display: flex;
            align-items: flex-start;
        }
    }
    
    .main__card_price {
        padding-top: 0;
    }
}
//desktop 390px
@media(max-width: 391px) {
    .center {
    padding-left: calc(50% - 175px);  
    padding-right: calc(50% - 175px);     
    }
       .logo-black {
        padding-right: 138px;
    }
    .title {
        font-family: Korataki;
        font-size: 24px;
        font-weight: 400;
        line-height: 33.6px;
        text-align: left;
    }
        .main {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        row-gap: 30px;
        margin-bottom: 40px;
    }
}